			body {background-color:#222222; margin:0em;padding:0;}
			#viewport
			{
				width: 960px; 
				height: 640px; 
				position: absolute; 
				overflow-x: hidden; 
				overflow-y: hidden; 
				background-color:#000000;

			}
			#topLayer
			{
				width: 800px; 
				height: 550px; 
				position: absolute; 
				overflow-x: hidden; 
				overflow-y: hidden;
			}
			#gfxLayer
			{
				position: absolute; 
			}
			#playerAnim 
			{
				width:97px;
				height:155px;
				position: relative; 
				background-image: url(../media/hd/spritesheets/AnimMan_sm_doubled.gif);
			}
			.wrapper
			{
				left:-999px;
				position: absolute; 
			}

			
